node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
.nyc_output
coverage
.coverage
.cache
.parcel-cache
.DS_Store
*.log
logs
*.tgz
.npm
.eslintcache
.vscode
.idea